.title {
  font-weight: bold;
  font-family: "GFS Didot";
  color: #1A0B8C;
  font-size: 50px;
}

.subtitle {
  font-weight: bold;
  font-family: "GFS Didot";
  color: #4132AC;
  font-size: 37px;
}

.basic {
  font-family: "GFS Didot";
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 1em 2em 1em;
  line-height: 1.5;
}

body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-container{
  display:flex;
  border: 2px solid red;
}

.flex-child{
  flex:1;
  padding: 20px;
  border: 2px solid blue;
}

.flex-child:first-child {
    margin-right: 20px;
} 
